@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

:root {
  --main-color: #6faa84;
  --darker-color: #417059;
  --subtle-color: #372214;
  --ligther-color: #add1bb;
  --bg-color: #dde5e9;

  --error-color: #e53535;
  --warning-color: #e5b800;
  --info-color: #004fc4;
  --sucsses-color: #05a660;

  --dark1: #3a3a3c;
  --dark2: #6b7588;
  --divider: hsla(0, 12%, 90%, 0.5);

  --ligth2: #ebebf0;
  --ligth3: #f2f2f5;
  --ligth4: #fafafc;

  --shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  /* font-family: "Oxygen", system-ui, sans-serif; */
  background-color: var(--bg-color);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark1);
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
  font-family: "Fahkwang", system-ui, sans-serif !important;
  color: var(--ligth4);
}

.btn-login {
  color: var(--ligth2);
  background-color: var(--main-color);
  padding: 12px 20px;
  border-radius: 32px;
  font-weight: 700;
  &:hover {
    background-color: var(--darker-color);
    transition: 0.3s linear;
    box-shadow: 0 2px 2px 0 var(--ligther-color);
  }
}

.nav__ul li a {
  color: var(--ligth4);
  position: relative;
}

.nav__ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;

  background-color: var(--divider);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.nav__ul li a:hover::after {
  opacity: 1;
  width: 100%;
  color: var(--darker-color);
}

/* HERO */

.hero {
  position: relative;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 98%;
  margin: 1rem auto;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.content {
  z-index: 100;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  width: 95%;
  z-index: 1000;
  border-bottom: 0.0625rem solid var(--divider);
}

.header__logo {
  width: 200px;
  height: auto;
}

.content__cta {
  margin: 0 auto;
}

.content__cta h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Fahkwang", sans-serif;
}
.content__cta p {
  font-size: 1.25rem;
}

.content__cta .agendar {
  padding: 1rem 2.2rem;
  border-radius: 32px;
  background-color: transparent;
  outline: 1px solid var(--ligth4);
  &:hover {
    background-color: var(--darker-color);
    outline: var(--darker-color);
    transition: 0.35s linear;
    box-shadow: 0 2px 2px 0 var(--ligther-color);
  }
}

.content__address {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  height: 100px;
}

.content__address p {
  padding: 8px;
  height: 100%;
  border-top: 0.0625rem solid var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__address p:not(:last-child) {
  border-right: 0.0625rem solid var(--divider);
}

/* SERVIÇOS */

.services__info {
  margin: 8rem 0 2rem 0;
  & h2 {
    color: var(--darker-color);
  }
  & h4 {
    color: var(--subtle-color);
    text-shadow: var(--shadow);
    opacity: 0.3;
  }
  & p {
    color: var(--dark2);
    width: 80ch;
    text-align: center;
  }
  & .subtitle {
    font-size: 4rem;
    color: var(--darker-color);
  }
}

.carrossel {
  display: inline-flex;
  white-space: nowrap;

  &:hover .cardss {
    animation-play-state: paused;
  }
}

& .cardss {
  display: flex;
  gap: 1rem;
  border-radius: 1.25rem;
  background-color: var(--ligth4);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 30rem;
  width: 18rem;
  border: none;
  position: relative;
  --mgcards: 1rem;
  margin: var(--mgcards);
  will-change: transform; /* Devemos ser gentis com o navegador - informar o que vamos animar. */
  animation: slide 10s linear infinite;

  & .card-body {
    padding: 1rem;
    max-width: 24rem;
    cursor: pointer;
    color: var(--ligth4);
    position: absolute;
    bottom: 0;

    & .card-text-title {
      font-family: "Fahkwang", sans-serif;
      font-size: 1.625rem;
      font-weight: 700;
      color: var(--subtle-color);
    }
    & .card-text {
      color: var(--subtle-color);
      white-space: wrap;
      font-size: 1.0625rem;
      font-weight: 500;
    }

    &:hover {
      max-height: max-content;
      background-color: var(--ligther-color);
      color: var(--darker-color);
      opacity: 0.7;
      transition: 0.3s linear;
    }
  }

  &.massagem {
    background-image: url("https://images.unsplash.com/photo-1519823551278-64ac92734fb1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  &.meditacao {
    background-image: url("https://plus.unsplash.com/premium_photo-1674675646818-01d7a7bae64c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  &.pilates {
    background-image: url("https://plus.unsplash.com/premium_photo-1663046045743-7ce2a49d82e7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  &.hipnoterapia {
    background-image: url("https://images.unsplash.com/photo-1592947945242-69312358628b?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  &.acumputura {
    background-image: url("https://img.freepik.com/fotos-gratis/terapeuta-de-close-up-fazendo-acupuntura_23-2148815317.jpg?semt=ais_hybrid");
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* PROFESSIONAIS */

.cardss-pro {
  position: relative;
  display: flex;
  cursor: pointer;
  filter: contrast(100%);
  &:hover img {
    filter: contrast(50%);
    transition: 0.3s ease-in-out;
  }
  & img {
    border-radius: 32px;
  }
  & h3 {
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 36px;
    font-weight: 700;
  }
  & p {
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 1000;
    max-width: fit-content;
    padding: 1rem 25.6px;
    color: var(--ligth4);
    font-size: 1.25rem;
    font-weight: 500;
  }
  & button {
    position: absolute;
    bottom: 4%;
    right: 1rem;
    padding: 1rem;
  }
}

/* SOBRE */

.about-left {
  & h2 {
    font-family: "Fahkwang", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--subtle-color);
    margin-bottom: 24px;
  }
  & p {
    font-size: 18px;
    max-width: 80%;
    color: var(--dark2);
    font-weight: 500;
    margin-bottom: 138px;
  }
  & img {
    border-radius: 32px;
  }
}

.about-right img {
  border-radius: 32px;
  height: auto;
  width: 544px;
}

/* CONTATO */

.contato {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  border: 2px solid var(--bg-color);
  color: var(--dark1);
  outline: none;
  min-height: 1rem;
  font-size: 1.2rem;
  flex: 1 0 3rem;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}
.contato-area {
  flex: 1 0 auto;
  border-radius: 1rem;
}

.contato::placeholder {
  color: var(--subtle-color);
  opacity: 0.5;
}

/* FOOTER */

footer {
  min-width: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(var(--bg-color), var(--darker-color));
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}

/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 1rem 0px;
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.footer-subscribe > input {
  border: 2px solid var(--bg-color);
  color: var(--dark1);
  outline: none;
  min-height: 2.25rem;
  font-size: 1.2rem;
  flex: 1 0 120px;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}

.footer-subscribe > input::placeholder {
  color: var(--subtle-color);
  opacity: 0.5;
}

.footer-subscribe .btn-subscribe {
  cursor: pointer;
  background-color: var(--ligth2);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  color: var(--dark1);
  font-size: 1.25rem;
  white-space: nowrap;
  border: none;
  outline: none;
  border: 1px solid var(--ligther-color);
  transition: all 0.3s ease-in-out;
}

.footer-subscribe .btn-subscribe:hover {
  background-color: var(--ligth4);
  & i {
    color: var(--dark1);
  }
}

/*? footer columns */
.footer-columns {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2 0 14rem;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin: 0 auto;
  border-bottom: 0.0625rem solid var(--divider);
}

.footer-columns ul {
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--ligth3);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 1rem;
}

.footer-columns h3 {
  color: var(--ligth4);
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 10rem;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer-logo svg {
  width: 3rem;
  height: 3rem;
}

/*? Footer bottom */
.footer-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--dark1);
}

.footer-bottom > small {
  margin: 0 0.25rem;
  color: var(--ligth2);
}
.footer-headline {
  max-width: 100%;
  padding: 1rem;
}

/* SOCIAL LINKS */
.social-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  font-size: 1.45rem;
  color: var(--ligther-color);
}

i:hover {
  transition: 0.2s ease-in-out;
  color: #fff;
}

.social__link {
  cursor: pointer;
  background-color: var(--shadow);
  border-radius: 50%;
  height: 3rem;
  width: 48px;
  color: var(--subtle-color);
  font-size: 1.25rem;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.125rem 0 var(--shadow);
}

.social-links ul {
  display: flex;
  gap: 0.75rem;
  list-style-type: none;
}

/*? mobile */

@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0.5rem 2rem 0.5rem;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
  }
}
